<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d %5p [%c] %m%n" />
        </Console>
        <RollingFile name="file" fileName="/opt/apache-tomcat-8.5.32/logs/rrs_client/rrs_client.log"
        						filePattern="/opt/apache-tomcat-8.5.32/logs/rrs_client/rrs_client_%d{yyyyMMdd}.log">
        	<PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="7" fileIndex="max" >
			  	<Delete basePath = "/opt/apache-tomcat-8.5.32/logs/rrs_client" maxDepth = "1">
			  		<!-- 30일이 경과한 로그파일은 자동 삭제 -->
			  		<IfFileName glob="*.log"/>   <!-- 삭제할 파일명 -->
			  		<IfLastModified age = "30d"/>
			  	</Delete>
		  	</DefaultRolloverStrategy>						
   		</RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!-- 추가된 부분-->
           <!-- Query Loggers -->
        <Logger name="jdbc.sqlonly" additivity="false"> 
            <level value="DEBUG"/> 
            <appender-ref ref="console-infolog"/> 
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
