<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrs.web.comm.service.impl.CommonMapper">
    <select id="commCodeList" resultType="HashMap" parameterType="HashMap">
        SELECT CODE
             , CODE_NM
          FROM bc_comm_l
         WHERE HEAD_CD = #{HEAD_CD}
           AND STATUS  = 'Y'
         <if test='ORDER_BY != null and !"".equals(ORDER_BY)'>
         ORDER BY ${ORDER_BY}
         </if>
    </select>
    
    <select id="getChatIdList" resultType="String">
        SELECT CHAT_ID
          FROM bc_user
         WHERE STATUS = 'A'
           AND NULLIF(CHAT_ID, '') IS NOT NULL
    </select>
</mapper>