<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrs.web.notice.service.impl.NoticeMapper">

<select id="noticeList" parameterType="hashMap" resultType="hashMap">
<![CDATA[
	SELECT
		notice_no, title, DATE_FORMAT(fromDate, '%Y-%m-%d') AS fromDate
	FROM
		bc_notice
	WHERE 
		notice_tp = '02'
	/*	
	    AND fromDate <= NOW() 
		AND toDate >= NOW()
	*/
	ORDER BY
		notice_no DESC
	LIMIT
		#{page}, 10
]]>
</select>

<select id="noticeListCnt" resultType="int">
<![CDATA[
	SELECT 
		count(*)
	FROM 
		bc_notice
	WHERE
		notice_tp = '02'
		AND fromDate <= NOW();
]]>
</select>

<select id="noticeView" parameterType="String" resultType="com.rrs.web.notice.service.vo.NoticeVO">
<![CDATA[
	SELECT
		title, contents, file_uid
	FROM
		bc_notice
	WHERE 
		notice_no = #{notice_no}
]]>
</select>

</mapper>