/*인재상
  #people #color_title {
    text-align:center;
    font-weight: bold;
    line-height: 150%;
    padding-bottom:20px;
  }
  #people .title1 {
    color:rgb(36, 154, 228) !important;
  }
  #people .title2 {
    color:#ff8400 !important;
  }
  #people .img {
    width:80%;
  }
  */
/*복리후생
  #welfare #color_title {
    text-align:center;
    font-weight: bold;
    line-height: 150%;
    padding-bottom:20px;
  }
  #welfare .title1 {
    color:rgb(36, 154, 228) !important;
  }
  #welfare .title2 {
    color:#ff8400 !important;
  }
  #welfare h5 {
    text-align:center;
    font-weight: bold;
  }
  #welfare table {
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }
  #welfare td {
    text-align: center;
    padding-bottom:5%;
  }
*/

